{%load static%}

<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="{% static 'form.css' %}">

</head>
{% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<div class="container">
    <!-- other_template.html -->

<header class="masthead mb-auto" style="margin-top:20px">
  <div class="inner">
    
    <nav class="nav nav-masthead" style="justify-content:space-between;margin-bottom:20px">
      <div>
        <h3 class="masthead-brand">Cover</h3>

      </div>
      <div style="display:flex">
      <a class="nav-link active" href="/home">Home</a>
      
      <a class='nav-link' href="{% url 'display_predictions' %}">View Predicted Stay</a>
      </div>
    </nav>
  </div>
</header>
    <form method="POST">
      <fieldset>
        <legend>Form</legend>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class='submit'>Submit</button>
      </fieldset>
    </form>
</div>


  


{% block content %}
{% endblock %}
</div>
